#main-nav ul li{float: left;}
#main-nav{background-color: #0085bc;}
#main-nav ul.social_nav li a{padding: 0;}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	height: 350px;
}